alembic==1.0.10
bcrypt==3.1.7
beautifulsoup4==4.7.1
blinker==1.4
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
dnspython==1.16.0
email-validator==1.0.4
Flask==1.0.3
Flask-Admin==1.5.3
Flask-Bcrypt==0.7.1
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-PJAX==0.0.1
Flask-SeaSurf==0.2.2
Flask-SQLAlchemy==2.4.0
Flask-Static-Compress==1.0.2
Flask-WTF==0.14.2
gunicorn==19.7.1
idna==2.8
itsdangerous==1.1.0
jac==0.17.2
Jinja2==2.10.1
Mako==1.0.12
MarkupSafe==1.1.1
ordereddict==1.1
Pillow==8.2.0
psycopg2==2.8.3
pycparser==2.19
PyJWT==1.7.1
PySocks==1.7.0
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.1
requests==2.22.0
rjsmin==1.1.0
six==1.12.0
soupsieve==1.9.1
SQLAlchemy==1.3.5
twilio==6.28.0
urllib3==1.25.3
Werkzeug==0.15.4
WTForms==2.2.1
WTForms-JSON==0.3.3
