{% extends 'admin/model/list.html' %}

{% block list_row_actions scoped %}
    {%- if admin_view.can_view_details -%}
        {%- if admin_view.details_modal -%}
            {{ lib.add_modal_button(url=get_url('.details_view', id=get_pk_value(row), url=return_url, modal=True), title=_gettext('View Record'), content='<span class="fa fa-eye glyphicon glyphicon-eye-open"></span>') }}
        {% else %}
            <a class="icon" href="{{ get_url('.details_view', id=get_pk_value(row), url=return_url) }}" title="{{ _gettext('View Record') }}">
                <span class="fa fa-eye glyphicon glyphicon-eye-open"></span>
            </a>
        {%- endif -%}
    {%- endif -%}
    {%- if admin_view.can_edit -%}
        {%- if admin_view.edit_modal -%}
            {{ lib.add_modal_button(url=get_url('.edit_view', id=get_pk_value(row), url=return_url, modal=True), title=_gettext('Edit Record'), content='<span class="fa fa-pencil glyphicon glyphicon-pencil"></span>') }}
        {% else %}
            <a class="icon" href="{{ get_url('.edit_view', id=get_pk_value(row), url=return_url) }}" title="{{ _gettext('Edit Record') }}">
                <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
            </a>
        {%- endif -%}
    {%- endif -%}
    {%- if admin_view.can_delete -%}
    <form class="icon" method="POST" action="{{ get_url('.delete_view') }}">
        {{ delete_form.id(value=get_pk_value(row)) }}
        {{ delete_form.url(value=return_url) }}
        {% if csrf_token %}
          <input type="hidden" name="_csrftoken" value="{{ csrf_token() }}"/>
        {% endif %}
        <button onclick="return confirm('{{ _gettext('Are you sure you want to delete this record?') }}');" title="Delete record">
            <span class="fa fa-trash glyphicon glyphicon-trash"></span>
        </button>
    </form>
    {%- endif -%}
{% endblock %}
