@charset "UTF-8";
/* CSS Document */

#top {
	margin: auto;
	width: 100px;
}

.info {
	margin-left: 20px;
}

.profile {
	max-width: 290px;
}

.images-style {
	width: 84px;
}

.medbox {
	clear: both;
}