{% extends 'base.html' %}
{% block content %}

{% for child in child_info %}
<div class="profile">
	<div class="floatleft photobox"><img src="{{child.pic_url}}" class="images-style"><a href="uploadlink" class="uploadlink">Upload photo</a></div>

	<div class="info floatright">
	<form action="/child/{{child.id}}" id="" class="form-signin" method="POST">
	<input type="text" name="first_name" value="{{child.first_name}}" placeholder="{{child.first_name}}"><br />
	<input type="text" name="last_name" value="{{child.last_name}}" placeholder="{{child.last_name}}"><br />
	<input type="text" name="birth_date" placeholder="{{child.birth_date.strftime('%d-%m-%Y')}}"><br />
	<input type="text" name="guardian_fname" value="{{child.guardian_fname}}" placeholder="{{child.guardian_fname}}"><br />
	<input type="text" name="guardian_lname" value="{{child.guardian_lname}}" placeholder="{{child.guardian_lname}}"><br />
</br>
	<button class="btn btn-sm btn-primary" type="submit">Save</button>
</form>
</div>
<br style="clear: both" />
	<div class="medbox">
		<h4> Medical condition</h4>
		<p>{{ child.medical_condition }}</p>
		<p>Needs to visit the doctor: {{ child.doctor_appt.strftime('%d-%m-%Y') }}</p>
	</div>
	<div>
		<h4> Situation</h4>
		<p>{{ child.situation }}</p>
		<p>Next home visit: {{ child.home_visit.strftime('%d-%m-%Y') }}</p>

	</div>

	<a href="/child/{{child.id}}"><button type="button" class="btn btn-sm btn-danger" value="edit">Cancel</button></a>
</div>
	{% endfor %}
{% endblock %}
