{% extends 'base.html' %}
{% block content %}

{% for child in child_info %}
<div class="profile">
	<div class="pull-left photobox"><img src="{{child.pic_url}}" class="imagesedit-style"><a href="uploadlink" class="uploadlink">Upload photo</a></div>
	<form action="/child/{{child.id}}" class="form-signin" method="POST">
		<div class="info pull-right">
			<input type="text" name="first_name" value="{{child.first_name}}" placeholder="{{child.first_name}}"><br />
			<input type="text" name="last_name" value="{{child.last_name}}" placeholder="{{child.last_name}}"><br />
			<input type="text" name="birth_date" value="{{child.birth_date.strftime('%Y-%m-%d')}}" placeholder="{{child.birth_date.strftime('%Y-%m-%d')}}"><br />
			<input type="text" name="guardian_fname" value="{{child.guardian_fname}}" placeholder="{{child.guardian_fname}}"><br />
			<input type="text" name="guardian_lname" value="{{child.guardian_lname}}" placeholder="{{child.guardian_lname}}"><br />
			<input type="text" name="guardian_type" value="{{child.guardian_type}}" placeholder="{{child.guardian_type}}"><br />
		</div>
		<div class="lowerform">
			<label for="med-field">Medical Condition</label><br />
			{% if child.medical_condition %}
			<textarea rows="2" cols="20" name="medical_condition" placeholder="{{child.medical_condition}}">{{child.medical_condition}}</textarea><br />
			{% else %}
			<textarea rows="2" cols="20" name="medical_condition" placeholder="Currently healthy."></textarea><br />
			{% endif %}
			<label for="doct-field">Needs to visit the doctor:</label><br />
			{% if child.doctor_appt %}
			<input type="text" name="doctor_appt" value="{{child.doctor_appt.strftime('%Y-%m-%d')}}" placeholder="{{child.doctor_appt.strftime('%Y-%m-%d')}}"><br />
			{% else %}
			<input type="text" name="doctor_appt" placeholder="YYYY-M-D"><br />
			{% endif %}
			{% if child.situation %}
			<label for="home-field">Situation:</label><br />
			<textarea rows="3" cols="40" name="situation" placeholder="{{child.situation}}">{{child.situation}}</textarea><br />
			{% else %}
			<label for="home-field">Situation:</label><br />
			<textarea rows="3" cols="40" name="situation" placeholder="Please write about {{ child.first_name }}'s situation."></textarea><br />
			{% endif %}
			<label for="doct-field">Next home visit:</label><br />
			{% if child.home_visit %}
			<input type="text" name="home_visit" value="{{child.home_visit.strftime('%Y-%m-%d')}}" placeholder="{{child.home_visit.strftime('%Y-%m-%d')}}"><br />
			{% else %}
			<input type="text" name="home_visit" placeholder="YYYY-M-D"><br />
			{% endif %}
			<input type="text" id="lat" name="latitude" class="hidden" value="{{child.latitude}}">
			<input type="text" id="lng" name="longitude" class="hidden" value="{{child.longitude}}">
			<h3> Home Location </h3>
			<div class="mapcontainer">
			<div id="map"></div>
			</div>
			<button class="btn btn-sm btn-primary" type="submit">Save</button> 
	<a href="/child/{{child.id}}"><button type="button" class="btn btn-sm btn-danger" value="edit">Cancel</button></a>
		</div>
</form>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoidmFuZXNhIiwiYSI6ImYxOTAxOGI1NTBlOGJkMTdjZTRmNGVmNTg0NTUxMjFjIn0._G3yYtIvkPX1EC9QEkNB6Q';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([{{child.latitude}}, {{child.longitude}}],15);

var marker;
var clicked = false;


marker = L.marker(new L.LatLng({{child.latitude}}, {{child.longitude}}));
console.log({{child.latitude}}, {{child.longitude}});
marker.addTo(map);

map.on('click', function(e) {
    var child_latitude = e.latlng.lat;
    var child_longitude = e.latlng.lng;
    $("#lat").val(child_latitude)
    $("#lng").val(child_longitude)

   	marker.setLatLng(new L.LatLng(child_latitude, child_longitude)).update();
});
</script>
</div>
	{% endfor %}
{% endblock %}
