{% extends 'base.html' %}
{% block content %}
<table>
	{% for child in child_profiles %}
	<tr>
		<td>
			<div class="img-thumbnail pull-left"><img src="{{child.pic_url}}" class="images-style"></div>
			<div class="info pull-right"> 
				<h4>
					{{ child.first_name}} {{ child.last_name }}
				</h4>
				<p>
					{{ child.age }} years old,
				</p>
				<p>
					Birth date: {{ child.birth_date.strftime('%d-%m-%Y') }}
				</p>
				<p>
					- status -
				</p>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}