{% extends 'base.html' %}
{% block content %}

  <div class="row toppad_child">
    <form action="/child/add" class="form-signin" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <div class="col-xs-12 col-md-3">
        <p>
        <img id="imgpreview" src="../static/images/childphotopreview.png" class="imgpreview" alt="Child's photo preview.">
        </p>
        <p>
          <input type="file" name="photo" id ="imgInput" class="filestyle inputimg" data-classButton="btn btn-primary" data-input="true" data-buttonText="Upload" data-classIcon="glyphicon-camera" data-size="sm">
        </p>
      </div>
      <div class="info col-xs-12 col-md-6">
        <h3 class="animated1"> Profile </h3>
      </div>
      <div class="info col-xs-12 col-md-3">
        <p>
          <label for="activity-field">Activity: </label>
          <input type="checkbox" name="is_active" checked data-toggle="toggle" value="true" class="addchildinput"> 
        </p>
        <p>
          <input type="text" name="first_name" placeholder="First name" class="form-control addchildinput"><br />
          <input type="text" name="last_name" placeholder="Last name" class="form-control addchildinput"><br />
          <input type="text" name="nick_name" placeholder="Nick name" class="form-control addchildinput"><br />
          <input type="text" name="birth_date" placeholder="Birth date YYYY-MM-DD" class="form-control addchildinput"><br />
        </p>
        <p>
          <label for="nationality-field">Nationality: </label>
          <select name="nationality" class="form-control addchildinput">
          <option>Unknown</option>
            {% for _, option in form.nationality.choices %}
              <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        </p>
      </div>
      <div class="info col-xs-12 col-md-3">
      <p>
        <label for="guardian-field">Guardian: </label>
        <input type="text" name="guardian_fname" placeholder="Guardian First name" class="form-control addchildinput"><br />
        <input type="text" name="guardian_lname" placeholder="Guardian Last name" class="form-control addchildinput"><br />
        <input type="text" name="guardian_type" placeholder="Guardian type (Mother, Aunt etc.)" class="form-control addchildinput"><br />
      </p>
      <p>
        <label for="godparent-field">Godparent status:</label>
        <select id="godparent_status" name="godparent_status" class="form-control addchildinput">
          <option value=""> - Select godparent status - </option>
            {% for _, option in form.godparent_status.choices %}
              <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <br>
        <small>Godparent can be added once the child profile is created.</small>
      </div>
      <div class="lowerform col-xs-12 col-md-12">
        <label for="siblings-field"><h3 class="animated3">Siblings</h3></label>
        <p><strong> Number of siblings: </strong>
        <select name="number_of_siblings" class="form-control addchildinput">
          <option value="0"> - Select number of siblings - </option>
            {% for num in range(1, form.max_number_of_siblings + 1) %}
              <option value="{{ num }}">{{ num }}</option>
            {% endfor %}
        </select>
        </p>
        <p><strong>Siblings in project:</strong>
          <input type="text" name="siblings_in_project" placeholder="Name of siblings in project" class="form-control addchildinput">
        </p>
        <label for="school_field"><h3 class="animated4">School</h3></label>
        <p><strong>School class:</strong>
        <select name="school_class" class="form-control addchildinput">
          <option value=""> - Select school class - </option>
            {% for _, option in form.school_class.choices %}
              <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        </p>
        <p><strong>School attendance: </strong>
          <select name="school_class" class="form-control addchildinput">
            <option value=""> - Select attendance rate - </option>
            {% for _, option in form.school_attendance.choices %}
              <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>
        </p>
        <label for="situation-field"><h3 class="animated5">Situation:</h3></label>
        <p>
          <textarea rows="3" cols="40" name="situation" placeholder="Situation at home and at school." class="form-control addchildinput"></textarea>
        </p>
        <label for="volunteer_task-field"><h3 class="animated6">Volunteer tasks:</h3></label>
        <p>
          <textarea rows="3" cols="40" name="volunteer_task" placeholder="Tasks for the volunteer." class="form-control addchildinput"></textarea>
        </p>
        <input type="text" id="lat" name="latitude" class="hidden">
        <input type="text" id="lng" name="longitude" class="hidden">
        <h3 class="animated7"> Home location </h3>
        <div class="mapcontainer">
          <div id="map"></div>
        </div>
        <button class="btn btn-sm btn-primary" type="submit">Save</button>
        <a href="/overview"><button type="button" class="btn btn-sm btn-danger" value="edit">Cancel</button></a>
      </form>

      <br style="clear: both" />
      <script>
        $(":file").filestyle({buttonText: "Upload", iconName: "glyphicon glyphicon-camera", size: "sm"});
      </script>
      <script src='../static/js/mapadd.js'></script>
      <script src='../static/js/imgpreview.js'></script>
    </div>
  </div>
{% endblock %}
