{% extends 'base.html' %}
{% block content %}

  <div class="row">
    <form action="/child/add" class="form-signin" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <div class="col-xs-12 col-md-3">
        <p>
        <img id="imgpreview" src="../static/images/childphotopreview.png" class="imgpreview" alt="Child's photo preview.">
        </p>
        <p>
          <input type="file" name="photo" id ="imgInput" class="filestyle inputimg" data-classButton="btn btn-primary" data-input="true" data-buttonText="Upload" data-classIcon="glyphicon-camera" data-size="sm">
        </p>
      </div>
      <div class="info col-xs-12 col-md-6">
        <h3 class="animated1"> Profile </h3>
      </div>
      <div class="info col-xs-12 col-md-3">
        <p>Activity: <input type="checkbox" name="is_active" checked data-toggle="toggle" value="true" class="addchildinput"> </p>
        <input type="text" name="first_name" placeholder="First name" class="form-control addchildinput"><br />
        <input type="text" name="last_name" placeholder="Last name" class="form-control addchildinput"><br />
        <input type="text" name="nick_name" placeholder="Nick name" class="form-control addchildinput"><br />
        <input type="text" name="birth_date" placeholder="Birth date YYYY-MM-DD" class="form-control addchildinput"><br />
      </div>
      <div class="info col-xs-12 col-md-3">
        Nationality: 
        <select name="nationality" class="addchildinput">
          <option value="Dominican">Dominican</option><br />
          <option value="Hatian">Hatian</option><br />
        </select>
        <input type="text" name="guardian_fname" placeholder="Guardian First name" class="form-control addchildinput"><br />
        <input type="text" name="guardian_lname" placeholder="Guardian Last name" class="form-control addchildinput"><br />
        <input type="text" name="guardian_type" placeholder="Guardian type (Mother, Aunt etc.)" class="form-control addchildinput"><br />
      </div>
      <div class="lowerform col-xs-12 col-md-12">
        <label for="siblings-field"><h3 class="animated3">Siblings</h3></label><br />
        <p><strong> Number of siblings: </strong>
        <select name="number_of_siblings">
          <option value="0"> - Select number of siblings - </option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
        </p>
        <p><strong>Siblings in project:</strong>
        <input type="text" name="siblings_in_project" placeholder="Name of siblings in project" class="form-control addchildinput">
        </p>
        <label for="school_field"><h3 class="animated4">School</h3></label><br />
        <p><strong>School class:</strong>
        <select name="school_class">
          <option> - Select school - </option>
          <option value="Maternal">Maternal</option>
          <option value="Preschool">Preschool</option>
          <option value="1st school year">1st school year</option>
          <option value="2nd school year">2nd school year</option>
          <option value="3rd school year">3rd school year</option>
          <option value="4th school year">4th school year</option>
          <option value="Special School">Special school</option>
          <option value="Sala de Actividades">Sala de Actividades</option>
        </select>
        </p>
        <p><strong>School attendance: </strong>
          <select name="school_class">
            <option> - Select attendance rate - </option>
            <option value="Good">Good</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Bad">Bad</option>
        </select>
        </p>
        <label for="situation-field"><h3 class="animated5">Situation:</h3></label><br />
        <textarea rows="3" cols="40" name="situation" placeholder="Situation at home and at school." class="form-control addchildinput"></textarea><br />
        <input type="text" id="lat" name="latitude" class="hidden">
        <input type="text" id="lng" name="longitude" class="hidden">
        <h3 class="animated6"> Home location </h3>
        <div class="mapcontainer">
          <div id="map"></div>
        </div>
        <button class="btn btn-sm btn-primary" type="submit">Save</button>
        <a href="/overview"><button type="button" class="btn btn-sm btn-danger" value="edit">Cancel</button></a>
      </form>

      <br style="clear: both" />
      <script>
        $(":file").filestyle({buttonText: "Upload", iconName: "glyphicon glyphicon-camera", size: "sm"});
      </script>
      <script src='../static/js/mapadd.js'></script>
      <script src='../static/js/imgpreview.js'></script>
    </div>
  </div>
{% endblock %}
