<!DOCTYPE html>

<html>
	<head>
		<title>Kid-O - Children's overview app for children's aid projects</title>
		<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/> -->
        <!-- <link href='//api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' /> -->
        <!-- // <script src='//api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script> -->
        <!-- // <script src="//code.jquery.com/jquery-1.11.3.min.js"></script> -->
        <link rel="stylesheet" href="/static/css/bootstrap.css"/>
        <link href='/static/css/mapbox.css' rel='stylesheet' />
        <script src='/static/js/mapbox.js'></script>
        <script src="/static/js/jquery-1.11.3.min.js"></script>
        <script src='/static/js/bootstrap.js'></script>
        <script type="text/javascript" src="/static/js/bootstrap-filestyle.min.js"> </script>
        <link rel="stylesheet" href="/static/css/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/animate.css"/>
        <link rel="stylesheet" href="/static/css/style.css"/>
		<style>
			body { margin:0; padding:0; }
			#map { position:absolute; top:0; bottom:0; width:100%; }
		</style>
    </head>

    <body class="toppad">
    	

        <nav class="navbar navbar-default navbar-fixed-top row">
            <!-- <div class="logobox"> -->
                <a href="/overview" class="logolink">
            		<img src="/static/images/kid-ologo.png" class="logo">
                </a>
            <!-- </div> -->
            {% if current_user.is_authenticated() %} 
            <div class="addchildicon"><a href="/child/add"><img src="/static/images/addchildicon.png" class="addchildicon"></a></div>
            {% endif %}
                <form action="/overview" method="POST" id="searchform">
                    <div class="col-lg-12 searchform">
                        <div class="input-group">
                            <input type="text" class="form-control" name="searchform" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go!</button>
                            </span>
                        </div>
            <!-- /input-group -->
                    </div>
                </form>
        </nav>
<div class="container">
    	{% with messages = get_flashed_messages() %}
    		{% if messages %}
    			{% for message in messages %}
    			{{ message }}
    			{% endfor %}
    		{% endif %}
    	{% endwith %}

    	{%block content %} here goes the content {% endblock %}

<nav class="nav nav-tabs navbar-fixed-bottom bottomnav">
          <li role="presentation"><a href="/map"><button type="button" class="btn btn-primary">
  <span class="fa fa-map-marker" aria-hidden="true"></span> Map
</button></a></li>
          <li role="presentation"><a href="/overview"><button type="button" class="btn btn-warning">
  <span class="fa fa-child" aria-hidden="true"></span> Children
</button></a></li>
          <li role="presentation"><a href="/logout"><button type="button" class="btn btn-danger">
  <span class="fa fa-paper-plane" aria-hidden="true"></span> Log Out
</button></a></li>
</nav>
</div>
<script src="/static/js/overview.js"></script>
<script>
$(document).ready (function () {
  $('[data-toggle="tooltip"]').tooltip()
});
</script>
    </body>
</html>