<!DOCTYPE html>

<html>
	<head>
		<title>Kid-O - Children's overview app for children's aid projects</title>
		<link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
        <link rel="stylesheet" href="/static/css/style.css"/>

		<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="../static/bootstrap-filestyle.min.js"> </script>
		<style>
			body { margin:0; padding:0; }
			#map { position:absolute; top:0; bottom:0; width:100%; }
		</style>
    </head>

    <body>
    	<div class="container">
        <div class="row">
    		<div class="addchildicon"><a href="/child/add"><img src="/static/images/addchildicon.png"></a></div>
    	<div id="top">
    		<h1> Kid-O </h1>
    	</div>
        </div>
    	{% with messages = get_flashed_messages() %}
    		{% if messages %}
    			{% for message in messages %}
    			{{ message }}
    			{% endfor %}
    		{% endif %}
    	{% endwith %}

    	{%block content %} here goes the content {% endblock %}

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/overview">Children</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Log Out</a></li>
</ul>
</div>
    </body>
</html>