{% extends 'base.html' %}
{% block content %}

  <div class="row toppad_child">
    <div class="col-xs-12 col-md-3">

      {% if child.photo_url == "../static/images/childphotopreview.png" %}
        <img src="{{ child.photo_url }}" class="images-style"><br><a href="/child/edit/{{ child.id }}" class="alerttext">Upload photo</a>
      {% elif child.photo_url and child.is_active %}
        <img src="{{ child.photo_url }}" class="images-style">
      {% elif child.photo_url and not child.is_active %}
        <img src="{{ child.photo_url }}" class="imgpreview">
      {% else %}
        <img src="/static/images/childphotopreview.png" class="images-style"><br><a href="/child/edit/{{ child.id }}" class="alerttext">Upload photo</a>
      {% endif %}

    </div>
    <div class="info col-xs-12 col-md-6">
      
      {% if child.is_active %}
        <h2 class="animated1">
      {% else %} 
        <h2 class="inactive"> 
      {% endif %}

      {{ child.first_name}} {{ child.last_name }} 

      {% if child.nick_name %}
        - {{ child.nick_name }}
      {% else %}
      {% endif %}

      </h2>
      <br>
      <a href="/child/edit/{{ child.id }}" style="display: inline-block;">
        <button type="button" class="btn btn-sm btn-danger" value="edit"><i class="fa fa-pencil fa-fw edit-icon"></i> Edit</button>
      </a>
    </div>

    <div class="info col-xs-12 col-md-3">
      <!-- Basic Child information -->

      <p>
        <strong>Age: </strong>{{ child.age }} years old
      </p>
      <p>
        <strong>Birth date:</strong> {{ child.birth_date.strftime('%d-%m-%Y') }}
      </p>
      <p>
        <strong>Nationality:</strong> 
        
        {% if child.nationality %} 
          {{ child.nationality }} 
        {% else %} <a href="/child/edit/{{ child.id }}" class="alerttext">Please write {{ child.first_name }}'s nationality.</a>
        {% endif %}

      </p> 
      <!-- End Basic Child information -->
      <!-- Guardian information -->
    </div>
    <div class="info col-xs-12 col-md-3">
      <p>

      <strong>
        {% if child.guardian_type %}
          {{ child.guardian_type }}
        {% else %}
          Guardian
        {% endif %}:
      </strong>

      {% if child.guardian_fname and child.guardian_lname %}
        {{ child.guardian_fname}} {{ child.guardian_lname }}
      {% else %}
        <a href="/child/edit/{{ child.id }}" class="alerttext">Please add {{ child.first_name }}'s guardian's name.</a>
      {% endif %}

      </p>
      <p>
        
        {% if child.godparent_status %}
          <strong>Godparent status:</strong> {{ child.godparent_status}}
        {% else %}
          <strong>Godparent status:</strong> <a href="/child/edit/{{ child.id }}" class="alerttext">Please add {{ child.first_name }}'s godparent status.</a>
        {% endif %}

      </p>
        {% for godparent in child.godparents %}
          {{ godparent.first_name}}
        {% endfor %}
      <!-- End Guardian information -->
    </div>
    <div class="lowerform col-xs-12 col-md-12">

      {% if child.is_active %}
        <h3 class="animated3"> 
      {% else %}
        <h3 class="inactive"> 
      {% endif %}
      Siblings</h3>
      {% if child.number_of_siblings %}
        <p><strong>Number of siblings: </strong> {{ child.number_of_siblings }} </p>
      {% else %}
        <p class="alerttext">
          <a href="/child/edit/{{ child.id }}">Please write information about {{ child.first_name }}'s number of siblings.</a>
        </p>
      {% endif %}

      {% if child.siblings_in_project %}
        <p><strong>Siblings in school: </strong> {{ child.siblings_in_project }} </p>
      {% else %}
        <strong>Siblings in school: </strong> 
        <p class="alerttext">
          <a href="/child/edit/{{ child.id }}">Please write information about {{ child.first_name }}'s siblings that are also in the project.</a>
        </p>
      {% endif %}

      {% if child.is_active %}
        <h3 class="animated4"> 
      {% else %}
        <h3 class="inactive"> 
      {% endif %}
      School</h3>

      {% if child.school_class %}
        <p><strong>School class: </strong> {{ child.school_class }}</p>
      {% else %}
        <p class="alerttext">
          <a href="/child/edit/{{ child.id }}">Please write information about {{ child.first_name }} 's school class.</a>
        </p>
      {% endif %}

      {% if child.school_attendance %}
        <p><strong>School attendance:</strong> {{ child.school_attendance }}</p>
      {% endif%}

      {% if child.is_active %}
      <h3 class="animated5"> 
      {% else %}
      <h3 class="inactive">
      {% endif %}
      Situation</h3>
      {% if child.situation %}
        <p>{{ child.situation }}</p>
      {% else %}
        <p class="alerttext">
        <a href="/child/edit/{{ child.id }}">Please write information about {{ child.first_name }}'s situation.</a>
        </p>
      {% endif %}
      
      {% if child.is_active %}
        <h3 class="animated6"> 
      {% else %}
        <h3 class="inactive">
      {% endif %}
      Volunteer task</h3>

      {% if child.volunteer_task %}
        <p>{{ child.volunteer_task }}</p>
      {% else %}
        <p class="alerttext">
        <a href="/child/edit/{{ child.id }}">Please write information about the volunteer tasks.</a>
        </p>
      {% endif %}

      {% if child.is_active %}
        <h3 class="animated7">
      {% else %}
        <h3 class="inactive">
      {% endif %}
      Home location</h3>

      {% if child.latitude %}
      {% else %}
        <a href="/child/edit/{{ child.id }}" class="alerttext">Please add {{ child.first_name}}'s home location.</a>
      {% endif %}

      <div class="mapcontainer">
        <div id="map"></div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title center" id="myModalLabel">Send message to godparent</h4>
            </div>
            <div class="modal-body center">
              Here you can scroll through the past messages...
              <br>
              Here you can scroll through the past messages...
              <br>
              Here you can scroll through the past messages...
              <br>
              Here you can scroll through the past messages...
              <br>
            </div>
            <div class="modal-footer center">
              <form role="form" method='POST' action='/sendmessage' enctype="multipart/form-data">
                <input type="text" name="subject" placeholder="Subject title" class="form-control addchildinput">
                <textarea rows="2" cols="20" name="message" placeholder="Type a message..." class="form-control addchildinput"></textarea>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="submit">Send message</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
      })
    </script>
  <script>
    {% if child.latitude and child.longitude %}
      let latitude = {{ child.latitude}};
      let longitude = {{ child.longitude }};
    {% else %}
      let latitude = 18.542769;
      let longitude = -69.801216;
    {% endif %}
      let child_name = '{{ child.first_name}}' + ' ' + '{{ child.last_name }}'; 

    {% if child.latitude == 18.542769 %}
      let description = 'lives in this area. <a href="/child/edit/{{ child.id }}" class="alerttext">Please edit the profile and add the correct location.</a>';
    {% elif child.guardian_fname or child.siblings_in_project %}
      let description = 'lives here with {{ child.guardian_type }} {{ child.guardian_fname}} {{ child.guardian_lname }} {{ child.siblings_in_project}}';
    {% endif %}

    {% if child.latitude == 18.542769 %}
      let marker_symbol = 'marker-stroked';
    {% else %}
      let marker_symbol = 'building';
    {% endif %}

  </script>

  <script src='/static/js/profilemap.js'></script>

</div>

{% endblock %}
