{% extends 'base.html' %}
{% block content %}

{% for child in child_info %}
<div>

    {% if child.pic_url == "../static/images/childphotopreview.png" %}
    <div class="leftbox"><img src="{{child.pic_url}}" class="images-style"><br><a href="/child/edit{{child.id}}" class="alerttext">Upload photo</a></div>
    {% elif child.pic_url %}
    <div class="leftbox"><img src="{{child.pic_url}}" class="images-style"></div>
    {% else %}
	<div class="leftbox"><img src="/static/images/childphotopreview.png" class="images-style"><br><a href="/child/edit{{child.id}}" class="alerttext">Upload photo</a></div>
    {% endif %}
	<div class="info rightbox"> <h4> {{ child.first_name}} {{ child.last_name }}</h4>
		<p>{{ child.age }} years old,</p>
		<p>Birth date: {{ child.birth_date.strftime('%d-%m-%Y') }}</p>
		<p>{% if child.guardian_type %} {{ child.guardian_type}} {% else %} Guardian{% endif %}: {% if child.guardian_fname and child.guardian_lname %}{{ child.guardian_fname}} {{ child.guardian_lname }} {% else %} <a href="/child/edit{{child.id}}" class="alerttext">Please add {{ child.first_name }}'s guardian's name.</a> {% endif %}</p>
	</div>
    <a href="/child/edit{{child.id}}" style="display: inline-block; position: absolute;"><button type="button" class="btn btn-sm btn-danger" value="edit">Edit</button></a>
	<div class="lowerform">
        {% if child.medical_condition %}
		<h4> Medical condition</h4>
		<p>{{ child.medical_condition }}</p>
        {% else %}
        <p></p>
        {% endif %}
        {% if child.doctor_appt %}
		<p>Needs to visit the doctor: {{ child.doctor_appt.strftime('%d-%m-%Y') }}</p>
        {% elif child.medical_condition %}
        <p><a href="/child/edit{{child.id}}" class="alerttext">Please add a new doctors appointment for {{ child.first_name }}'s check-up.</a></p>
        {% else %}
        <p></p>
        {% endif %}
	</div>
	<div>
        {% if child.situation %}
		<h4> Situation</h4>
		<p>{{ child.situation }}</p>
        {% else %}
        <p class="alerttext"><a href="/child/edit{{child.id}}">Please write information about {{ child.first_name }}'s situation.</a></p>
        {% endif %}
        {% if child.home_visit %}
		<p>Next home visit: {{ child.home_visit.strftime('%d-%m-%Y') }}</p>
        {% else %}
        <p></p>
        {% endif %}
	</div>
	 <h4>Home location</h4>
	<div class="mapcontainer">
	<div id='map'></div>
</div>
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoidmFuZXNhIiwiYSI6ImYxOTAxOGI1NTBlOGJkMTdjZTRmNGVmNTg0NTUxMjFjIn0._G3yYtIvkPX1EC9QEkNB6Q';
var map = L.mapbox.map('map', 'mapbox.streets')
    .setView([{% if child.latitude and child.longitude %}{{ child.latitude}}, {{child.longitude}}{% else %}18.542769, -69.801216{% endif %}], 15);
L.mapbox.featureLayer({
    // this feature is in the GeoJSON format: see geojson.org
    // for the full specification
    type: 'Feature',
    geometry: {
        type: 'Point',
        // coordinates here are in longitude, latitude order because
        // x, y is the standard for GeoJSON and many formats
        coordinates: [{% if child.latitude and child.longitude %}
          {{ child.longitude }},
          {{ child.latitude }}
          {% else %}18.542769, -69.801216{% endif %}
        ]
    },
    properties: {
        title: '{{ child.first_name}} {{ child.last_name }}',
        {% if child.latitude == 18.542769 %}
        description: 'lives in this area. <a href="http://6254c5ab.ngrok.io/child/edit{{child.id}}" class="alerttext">Please edit the profile and add the correct location.</a>',
        {% else %}
        description: 'lives here with {{ child.guardian_fname}} {{ child.guardian_lname }}',
        {% endif %}
        // one can customize markers by adding simplestyle properties
        // https://www.mapbox.com/guides/an-open-platform/#simplestyle
        'marker-size': 'large',
        'marker-color': '#BE9A6B',
        {% if child.latitude == 18.542769 %}
        'marker-symbol': 'marker-stroked'
        {% else %}
        'marker-symbol': 'building'
        {% endif %}
    }
}).addTo(map);
</script>

</div>
	{% endfor %}
{% endblock %}

