{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <form action="/child/edit/{{child.id}}" class="form-signin" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <div class="col-xs-12 col-md-3">

        {% if child.photo_url %}
          <img src="{{child.photo_url}}" id="imgpreview" class="imgpreview" alt="{{child.first_name}}'s photo.">
        {% else %}
          <img src="/static/images/childphotopreview.png" class="images-style">
        {% endif %}

        <input type="file" name="photo" id ="imgInput" class="filestyle" data-classButton="btn btn-primary" data-input="true" data-buttonText="Photo" data-classIcon="glyphicon-camera" data-size="sm" value="{{child.photo_url}}">
      </div>
      <div class="info col-xs-12 col-md-6">
        <h3 class="animated1"> Profile </h3>
      </div>
      <div class="info col-xs-12 col-md-3">
        <!-- Basic Child information -->
        {% if child.is_active %}
          <p><label for="activity-field">Activity: </label><input type="checkbox" name="is_active" checked data-toggle="toggle" value="true" class="addchildinput"> </p>
        {% else %}
          <p>Activity: <input type="checkbox" name="is_active" checked data-toggle="toggle" value="false" class="addchildinput"> </p>
        {% endif %}
        <input type="text" name="first_name" value="{{child.first_name}}" placeholder="{{child.first_name}}" class="form-control addchildinput"><br />
        <input type="text" name="last_name" value="{{child.last_name}}" placeholder="{{child.last_name}}" class="form-control addchildinput"><br />
        <input type="text" name="birth_date" value="{{child.birth_date.strftime('%Y-%m-%d')}}" placeholder="{{child.birth_date.strftime('%Y-%m-%d')}}" class="form-control addchildinput"><br />
      </div>
        <!-- End Basic Child information -->
        <!-- Guardian information -->
      <div class="info col-xs-12 col-md-3">
        <p>
          <label for="nationality-field">Nationality </label>
          <select name="nationality" class="addchildinput">
            <option value="Dominican">Dominican</option><br />
            <option value="Hatian">Hatian</option><br />
          </select>
        </p>
        <p>
          <label for="guardian-field">Guardian </label> <br />

          {% if child.guardian_type %}
            <input type="text" name="guardian_type" value="{{child.guardian_type}}" placeholder="{{child.guardian_type}}" class="form-control addchildinput"><br />
          {% else %}
            <input type="text" name="guardian_type" placeholder="Guardian type" class="form-control addchildinput"><br />
          {% endif %}

          {% if child.guardian_fname %}
            <input type="text" name="guardian_fname" value="{{child.guardian_fname}}" placeholder="{{child.guardian_fname}}" class="form-control addchildinput"><br />
          {% else %}
            <input type="text" name="guardian_fname" placeholder="Guardian first name" class="form-control addchildinput"><br />
          {% endif %}

          {% if child.guardian_lname %}
            <input type="text" name="guardian_lname" value="{{child.guardian_lname}}" placeholder="{{child.guardian_lname}}" class="form-control addchildinput"><br />
          {% else %}
            <input type="text" name="guardian_lname" placeholder="Guardian last name" class="form-control addchildinput"><br />
          {% endif %}
        </p>
        <label for="godparent-field">Godparent </label><br />
      </div>
      <!-- End Guardian information -->

      <div class="lowerform col-xs-12 col-md-12">
        <label for="siblings-field"><h3 class="animated3">Siblings</h3></label><br />
         <p>
        <label for="siblings-field">Number of siblings</label><br />
          <select id="number_of_siblings" name="number_of_siblings" class="form-control addchildinput">
            <option value="0"> - Select number of siblings - </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </p>
        <p>
          <label for="siblings-field">Siblings in project: </label><br />
          {% if child.siblings_in_project %}
            {{ child.siblings_in_project }}
          {% else %}
            None
          {% endif %}
        </p>
        <label for="school_field"><h3 class="animated4">School</h3></label><br />
        <p>
          <label for="class-field">School Class</label><br />
          <select id="school_class" name="school_class" class="form-control addchildinput" data-placeholder="Select a school class">
            <option> - Select school - </option>
            <option value="Maternal">Maternal</option>
            <option value="Preschool">Preschool</option>
            <option value="1st school year">1st school year</option>
            <option value="2nd school year">2nd school year</option>
            <option value="3rd school year">3rd school year</option>
            <option value="4th school year">4th school year</option>
            <option value="Special School">Special school</option>
          </select>
        </p>
        <p><strong>School attendance: </strong>
          <select name="school_class">
            <option> - Select attendance rate - </option>
            <option value="Good">Good</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Bad">Bad</option>
          </select>
        </p>
        <p>
          <label for="situation-field"><h3 class="animated5">Situation:</h3></label><br />
          {% if child.situation %}
            <textarea rows="3" cols="40" name="situation" placeholder="{{child.situation}}" class="form-control addchildinput">{{child.situation}}
          {% else %}
            <textarea rows="3" cols="40" name="situation" placeholder="Please write about {{ child.first_name }}'s situation." class="form-control addchildinput">
          {% endif %}
          </textarea>
          <br />
        </p>

        <input type="text" id="lat" name="latitude" class="hidden" value="{{ child.latitude or '' }}">
        <input type="text" id="lng" name="longitude" class="hidden" value="{{ child.longitude or '' }}">
        <h3 class="animated6"> Home Location </h3>
        <div class="mapcontainer">
          <div id="map"></div>
        </div>
        <button class="btn btn-sm btn-primary" type="submit">Save</button>
        <a href="/child/{{child.id}}"><button type="button" class="btn btn-sm btn-warning" value="cancel">Cancel</button></a>
        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal" value="delete">Delete Profile</button>
      </div>
    </form>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title center" id="myModalLabel">WARNING</h4>
          </div>
          <div class="modal-body center">
            Are you sure you want to delete {{ child.first_name }}'s profile?
          </div>
          <div class="modal-footer center">
            <form role="form" method='POST' action='/delete-profile/{{child.id}}' enctype="multipart/form-data">
              <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
              <button class="btn btn-danger" type="submit">Delete profile</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').focus()
      })
    </script>

    <script>
      L.mapbox.accessToken = 'pk.eyJ1IjoidmFuZXNhIiwiYSI6ImYxOTAxOGI1NTBlOGJkMTdjZTRmNGVmNTg0NTUxMjFjIn0._G3yYtIvkPX1EC9QEkNB6Q';
      var map = L.mapbox.map('map', 'vanesa.e4c935ef')
      .setView([
        {% if child.latitude and child.longitude %}
          {{ child.latitude}}, {{child.longitude}}
        {% else %}
          18.542769, -69.801216
        {% endif %}
      ],15);
      // Disable the scroll Zoom
      map.scrollWheelZoom.disable();
      var marker;
      var clicked = false;


      marker = L.marker(new L.LatLng(
        {% if child.latitude and child.longitude %}
          {{ child.latitude}}, {{child.longitude}}
        {% else %}
        {% endif %}
        ));
      console.log(
        {% if child.latitude and child.longitude %}
          {{ child.latitude}}, {{child.longitude}}
        {% else %}
        {% endif %}
      );
      marker.addTo(map);

      map.on('click', function(e) {
        var child_latitude = e.latlng.lat;
        var child_longitude = e.latlng.lng;
        $("#lat").val(child_latitude)
        $("#lng").val(child_longitude)

        marker.setLatLng(new L.LatLng(child_latitude, child_longitude)).update();
      });
    </script>

    <script src='../static/js/imgpreview.js'></script>

    <!-- Set selections to database values-->
    <script>
      
      {% if child.nationality %}
        document.getElementById('nationality').value = '{{child.nationality}}';
      {% endif %}

      {% if child.number_of_siblings %}
        document.getElementById('number_of_siblings').value = '{{child.number_of_siblings}}';
      {% endif %}

    </script>
  </div>
{% endblock %}
